.page-wrapper{
    background-color: #F6FAFF;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.page-wrapper .children{
    flex: 1;
    padding: 15px 25px;
    height: 100%;
    overflow-y: scroll;

}
