@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --blue:#236EFF;
    --white:#ffffff;
    --light-blue:#00CFE8;
    --green:#11CD00;
    --blackish:#263238;
    --grey:rgba(93, 89, 89, 0.5);
    --border-grey:#D9D9D9;
}

.hover:hover{
    cursor: pointer;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

*{
    font-family: 'DM Sans', sans-serif;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    padding: 0;
}
